/* Fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Noto+Sans&family=Roboto:wght@300&family=Supermercado+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.svgBlue :hover{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(202deg) brightness(118%) contrast(119%);
}

.transition-05s{
    transition: all 0.5s;
}
.w-fill{
    width: -webkit-fill-available;
}